.app {
}

.app-bar {
  background-color: #508991 !important;
}

.center-block {
  margin-left: auto !important;
  margin-right: auto !important;
}

.padding20 {
  padding: 20px;
}

.full-height {
  height: calc(100vh - 64px)
}
